.reg { 
    width: 700px; 
	height:450px;
    background: transparent;
 
; text-align:center
 } 
 .reg2{ 
    width: 500px; 
	height:450px;
    background: black;
	margin:right;
 
; text-align:center
 } 